:root{
    --negative-delay:1000s;
    --duration: 86400s;
}


html{
    font-family:monospace;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    
}

body{
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;  
}

.navigation{
    display: grid;
    float: left;
    width: 50px;

    /*background-color: rgba(255, 255, 255, 0.089);*/
    border-radius: 15px;

    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 50px;
    grid-row-gap: 30px;

    min-height: calc(100vh - 80px);
    padding: 20px;
    margin: 20px;
    
}
    .navigationBoxes{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 50px;
        width: 50px;

        background-color: rgba(255, 255, 255, 0.541);
        border-radius: 50%;
        box-shadow: 0px 0px 15px rgb(12, 12, 12);

        cursor: pointer;

        transition: box-shadow 200ms ease;
    }
    .navigationBoxes:hover{
        box-shadow: 0px 0px 0px 20px rgb(12, 12, 12);
    }
    .navigationBoxes:before{
        position: absolute;
        content: "";
        background-color: rgba(127, 255, 212, 0.671);
        transform: scale(0);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: transform 150ms ease;

        z-index: 0;
    }
        .navigationBoxes:hover:before{
            transform: scale(1);
        }
    

#hamburger{
    width: 30px;
    height: 30px;

    background-image: radial-gradient(circle, rgb(0, 0, 0) 2px, transparent 3px);
    background-size: 100% 33.33%;

    z-index: 1;
}
.sunIcon{
    background-image: url(Icons/Sun-Icon2.png);
    background-size: cover;
    background-position: center;

    width: inherit;
    height: inherit;

    z-index: 1;
    
}



.table{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    min-height: calc(100vh - 40px);
    padding: 20px;
}
    .tableTop,.tableBottomLeft,.tableBottomRight{
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgb(5, 5, 5);

        
    }
    .tableTop{
        display: flex;
        justify-content: center;
        align-items: last baseline;
        min-width: 70vw;

        grid-column-start: 1;
        grid-column-end: 3;
        background-color: transparent;
        overflow: hidden;
    }

.tableBottomLeft{
    grid-column-start: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 20px;
}
.tBLBoxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(127, 255, 212, 0.671);
    border-radius: 15px;
    
    padding: 5%;

    font-size: 15px;
}

#temperatureHeaderBox,#humidityHeaderBox,#feelsLikeHeaderBox,#visibilityHeaderBox{
    margin-bottom: 10%;
}

.tableBottomRight{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 20px;
}

.tBRBoxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(127, 255, 212, 0.671);
    border-radius: 15px;
    
    padding: 5%;

    font-size: 15px;
}





/*animation CSS*/
@keyframes sunAnimation{
    100%{transform: rotate(360deg);}
    
}

@keyframes backgroundColorChange1{
    0%{background-color: rgba(185, 76, 36, 0.692);}
    45%{background-color: rgba(185, 76, 36, 0.692);}
    55%{background-color: rgba(88, 177, 147, 0.671);}
    95%{background-color: rgba(88, 177, 147, 0.671);}
    100%{background-color: rgba(185, 76, 36, 0.692);}
}
@keyframes backgroundColorChange2{
    0%{background-color: rgb(255, 153, 0);}
    45%{background-color: rgb(255, 153, 0);}
    55%{background-color: rgba(127, 255, 212, 0.671);}
    95%{background-color: rgba(127, 255, 212, 0.671);}
    100%{background-color: rgb(255, 153, 0);}
}

.rotatorContainer{
    position: relative;
    height: 60vh;
    width: 60vw;
    
    top: 50%;
    border-radius: 50%;
    

    transform-origin: center;
    transform: rotate(180deg);
    
}

.rotator{
    height: inherit;
    width: inherit;
    animation: normal sunAnimation var(--duration) forwards var(--negative-delay) linear infinite;
}

.sun{

    top: 42%;
    left: -50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: rgb(255, 171, 45);
    box-shadow: 0px 0px 200px 50px rgb(179, 40, 5), 0px 0px 400px 200px rgb(255, 139, 30);
    
    
}
.sunCore{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(255, 180, 66);
    
}


.moon{
    top: 42%;
    right: -50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: rgb(232, 243, 243);
    box-shadow: 0px 0px 30px 5px whitesmoke;

    overflow: hidden;
}
.moonCore{
    position: absolute;
    width: 80%;
    height: 80%;        

    border-radius: 50%;

    right: 25%;
    background-color: rgb(226, 226, 226);
}


.tableBottomLeft,.tableBottomRight{
    animation: normal backgroundColorChange1 var(--duration) forwards var(--negative-delay) linear infinite;
}

.tBLBoxes,.tBRBoxes{
    animation: normal backgroundColorChange2 var(--duration) forwards var(--negative-delay) linear infinite;
}

.navigationBoxes:before{
    animation: normal backgroundColorChange2 var(--duration) forwards var(--negative-delay) linear infinite;
}