:root{
    --negative-delay:1000s;
    --duration: 86400s;
}


html{
    font-family:monospace;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    
}

body{
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;  
}

.navigation{
    display: grid;
    float: left;
    width: 50px;

    /*background-color: rgba(255, 255, 255, 0.089);*/
    border-radius: 15px;

    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 50px;
    grid-row-gap: 30px;

    min-height: calc(100vh - 80px);
    padding: 20px;
    margin: 20px;
    
}
    .navigationBoxes{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 50px;
        width: 50px;

        background-color: rgba(255, 255, 255, 0.541);
        border-radius: 50%;
        box-shadow: 0px 0px 15px rgb(12, 12, 12);

        cursor: pointer;

        transition: box-shadow 200ms ease;
    }
    .navigationBoxes:hover{
        box-shadow: 0px 0px 0px 20px rgb(12, 12, 12);
    }
    .navigationBoxes:before{
        position: absolute;
        content: "";
        background-color: rgba(127, 255, 212, 0.671);
        transform: scale(0);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: transform 150ms ease;

        z-index: 0;
    }
        .navigationBoxes:hover:before{
            transform: scale(1);
        }
    

#hamburger{
    width: 30px;
    height: 30px;

    background-image: radial-gradient(circle, rgb(0, 0, 0) 2px, transparent 3px);
    background-size: 100% 33.33%;

    z-index: 1;
}
.sunIcon{
    background-image: url(Icons/Sun-Icon2.png);
    background-size: cover;
    background-position: center;

    width: inherit;
    height: inherit;

    z-index: 1;
    
}



.table{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    min-height: calc(100vh - 40px);
    padding: 15px;

    table-layout: fixed;
}
    .tableTop,.tableBottomLeft,.tableBottomRight{
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgb(5, 5, 5);

        
    }

.tableTop{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 3;
    background-color: transparent;
    overflow: hidden;

}

.tableBottomLeft{
    grid-column-start: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 20px;
}
    .tBLBoxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-color: rgba(127, 255, 212, 0.671);
        border-radius: 15px;
        
        padding: 5%;

        font-size: 15px;
    }

#temperatureHeaderBox,#humidityHeaderBox,#feelsLikeHeaderBox,#visibilityHeaderBox{
    margin-bottom: 10%;
}

.tableBottomRight{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 20px;
}

.tBRBoxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(127, 255, 212, 0.671);
    border-radius: 15px;
    
    padding: 5%;

    font-size: 15px;
}



/* Moving Parts */
